* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías */
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*-- Variables --*/
:root {
  --tipografia: "Poppins", serif;
  --colorPrincipal: #0A3D62;
  --colorTerciario: #F2F2F2;
  --colorDetalles: #D4AF37;
  --colorContraste: #6C3483;
  --margin: 20px;
  --tamaño: 250px;
}

/*-- Footer --*/

footer {
  background-color: var(--colorPrincipal);
  font-family: var(--tipografia);
  display: flex;
  justify-content: space-around;
}

section {
  padding: 25px;
}

section p, 
section h2,
section li {
  color: var(--colorTerciario);
}

/*-- Seccion Links --*/
.footer-link a {
  display: flex;
  justify-content: safe;
  margin-bottom: 8px;
  color: var(--colorDetalles);
  text-decoration: none;
}

.footer-link a:hover {
  text-decoration: underline; 
}

/*-- Seccion Desarrollo --*/

.footer-section2 a {
  margin-bottom: 8px;
  color: var(--colorDetalles);
  text-decoration: none;
}

.footer-section2 a:hover {
  text-decoration: underline;
}