* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías */
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*-- Variables --*/
:root {
  --tipografia: "Poppins", serif;
  --colorPrincipal: #0A3D62;
  --colorTerciario: #F2F2F2;
  --colorDetalles: #D4AF37;
  --colorContraste: #6C3483;
  --margin: 20px;
  --tamaño: 250px;
}

/*-- Header --*/

.container-fluid {
  background-color: var(--colorPrincipal);
  padding: 35px ;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--tipografia);
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-nav {
  font-size: 1.7rem;
}
