* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías */
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Variables */
:root {
  --tipografia: "Poppins", serif;
  --colorPrincipal: #0A3D62;
  --colorTerciario: #F2F2F2;
  --colorDetalles: #D4AF37;
  --colorContraste: #6C3483;
  --margin: 20px;
  --tamaño: 250px;
}

/*-- Administración --*/
.seccion-dashboard {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  min-height: 100vh;
  background-color: var(--colorTerciario);
  padding: 20px;
  font-family: var(--tipografia);
}

.seccion-dashboard h1 {
  color: var(--colorPrincipal);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/*-- Seccion Cargar Producto --*/
.seccion-carga {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid var(--colorContraste);
  box-shadow: 0px 3px 10px rgba( 0,0,0,0.05);
  width: 100%;
  max-width: 350px;
}

.seccion-carga h2 {
  color: var(--colorPrincipal);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-dashboard div {
  margin-bottom: 15px;
}

.form-dashboard label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--colorPrincipal);
}

.form-dashboard input {
  width: 100%;
  padding: 10px;
  border: 1.5px solid var(--colorContraste);
  border-radius: 6px;
  font-size: 1rem;
  outline: none; 
}

.form-dashboard input:focus {
  border-color: var(--colorDetalles);
}

/*-- Botón --*/
.form-dashboard button {
  width: 100%;
  padding: 10px;
  background-color: var(--colorDetalles);
  color: var(--colorTerciario);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-dashboard button:hover {
  background-color: var(--colorPrincipal);
}

/* Mensajes */
.error {
  color: rgb(248, 21, 21);
  font-weight: bold;
  text-align: center;
}

/*-- Producto Cargado --*/
.mostrar-producto {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid var(--colorContraste);
  box-shadow: 0px 3px 10px rgba( 0,0,0,0.05);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  margin-top: 25px;
}

.mostrar-producto h3 {
  color: var(--colorPrincipal);
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.mostrar-producto p{
  color: var(--colorPrincipal);
  font-size: 1rem;
  margin-bottom: 5px;
}