
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #0A3D62;
  min-height: 200%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  justify-items: center;
}